ion-header.menu ion-title{
    text-align: center
}
ion-content.menu ion-grid{
    margin-top: 3rem
}
ion-content.menu ion-grid ion-row{
    margin-top:3rem
}
ion-content.menu ion-grid ion-row ion-col{
    text-align: center
}